<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<form action="/doctorsAdded" method="post">
 did:<br>
  <input type="number" name="did"><br>
  Name:<br>
  <input type="text" name="name"><br>
  Department:<br>
  <select name ="department">
{{#each dropdown}}
<option value ="{{id}}">{{id}} {{name}}</option>
{{/each}}
</select>
<br>
  Fee:<br>
  <input type=number name="fee"><br>
 Temporary Password:<br>
  <input type="text" name="password"><br>
  <input type="submit" value="Add doctor">
</form>
</body>
</html>