<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
<link rel="stylesheet" type="text/css" href="/css/set_appointment.css">
</head>
<body>
{{>header}}
<div class="center">
<h1>UPDATE PASSWORD</h1>
<form method ="post" action ="/hospital_password_updated">
<b>Current Password:</b><br>
<input type ="password" name="Current"><br>
<b>New Password:</b><br>
<input type="password" name="new"><br>
<button type="submit" class="next">Update</button>
</form>
</div>
</body>
</html>
