<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
<link rel="stylesheet" type="text/css" href="/css/set_appointment.css">
</head>
<body>
{{>header}}
<div class="center">
<h2> PassWord Updated</h2>
<a href="/hospital_page" class="next"> Go Back to main page</a>
</div>
</body>

</html>
