<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>
<form action="/admin_page" method="post">
 Admin_id:
  <input type="number" name="id"><br>
  Password:
  <input type="password" name="password"><br>
  <input type="submit" value="Login">
</form>
</body>
</html>
