<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="/css/login.css"  >
</head>
<body>
{{>header}}
<div class="login">
<h1>ADMIN LOGIN</h1>
<form action="/admin_page" method="post">
 <b>Admin_id:<b>
  <input type="number" name="id"><br>
 <b> Password:</b>
  <input type="password" name="password"><br>
  <input type="submit" value="Login" class="btn btn-primary btn-block btn-large">
</form>
</div>
</body>
</html>
