<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<h2><a href = "/admin_add_hospital">Admin Add Hospital</a></h2>
<h2><a href = "/admin_remove_hospital">Admin Remove Hospital</a></h2>
<h2><a href = "/">Logout</a></h2>
</body>
</html>
