<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<form action="/hospitalsAdded" method="post">
 hid:<br>
  <input type="number" name="hid"><br>
  Name:<br>
  <input type="text" name="name"><br>
  Address:<br>
  <input type="text" name="address"><br>
   Type:<br>
  Government:<input type="radio" name="type" value="govt"><br>
  Private:<input type="radio" name="type" value="private"><br>
  Contact Number<br>
  <input type="number" name="Contact"><br>
 Temporary Password:<br>
  <input type="text" name="password"><br>
  <input type="submit" value="Add Hospital">
</form>
</body>
</html>