<!DOCTYPE html>
<html>
<head>
<title>Hospital_Appointment</title>
<link rel="stylesheet" type="text/css" href="/css/login.css"  >
</head>
<body>
{{>header}}
<div class="login">
<h1>DOCTOR LOGIN</h1>
<form action="/doctor_page" method="post">
 <b>Doctor_id:</b>
  <input type="number" name="id" required><br>
  <b>Password:</b>
  <input type="password" name="password" required><br>
  <input type="submit" value="Login" class="btn btn-primary btn-block btn-large">
</form>
</div>
</body>
</html>


	
