<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<h2><a href = "/view_doctor_profile">View Profile</a></h2>
<h2><a href = "/update_doctor_fee">Update fee</a></h2>
<h2><a href = "/update_doctor_password">Update Password</a></h2>
<h2><a href = "/doctor_view_appointments">View Appointments</a></h2>
<h2><a href = "/">Logout</a></h2>
</body>
</html>
