<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<form method ="post" action ="/doctor_password_updated">
Current Password:
<input type ="password" name="Current"><br>
New Password:
<input type="password" name="new">
<button type="submit">Update</button>
</form>
</body>
</html>
