<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<form action="/doctor_fee_updated" method="post">
  Fee:<br>
  <input type="number" name="fee" value="{{details.fee}}"><br>
  <input type="submit" value="Update Fee">
</form>
</body>
</html>