<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<h2><a href = "/view_profile">View Profile</a></h2>
<h2><a href = "/update_hospital_profile">Edit Profile</a></h2>
<h2><a href = "/update_hospital_password">Update Password</a></h2>
<h2><a href = "/hospital_view_appointments">View Appointments</a></h2>
<h2><a href = "/hospital_view_doctors">View Doctors</a></h2>
<h2><a href = "/hospital_add_doctors">Add doctors</a></h2>
<h2><a href = "/hospital_remove_doctors">Remove doctors</a></h2>
<h2><a href = "/">Logout</a></h2>
</body>
</html>
