<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<table>
<tr>
<th>Doctor Id</th>
<th>Doctor's name</th>
<th>Department</th>
<th>Fee</th>
</tr>
{{#each doctors}}
<tr>
<td>{{did}}</td>
<td>{{doctor}}</td>
<td>{{department}}</td>
<td>{{fee}}</td>
</tr>
{{/each}}
</table>
</form>
</body>
</html>
