<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<form method ="post" action ="/select_hospital">
<button type ="submit" name="type" value="govt">Government</button>
<button type ="submit" name="type" value="private">Private</button>
</form>
</body>
</html>
