<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<form action="/patient_registered" method="post">
 First name:<br>
  <input type="text" name="firstname" required><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  Age:<br>
  <input type="text" name="age" required><br>
  Gender:<br>
     <input type="radio" name="gender" value='m' checked> Male<br>
  <input type="radio" name="gender" value='f'> Female<br>
  <input type="radio" name="gender" value='o'> Other<br>
 BirthDate:<br>
  <input type="date" name="BirthDate"><br>
  Address:<br>
  <input type="text" name="address"><br>
  email:<br>
  <input type="email" name="email" required><br>
  contact Number:<br>
  <input type="number" name="number" required><br>
   Password:<br>
 <input type="password" name="password" required>
  <input type="submit" value="OK">
</form>
</body>
</html>
