<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
<link rel="stylesheet" type="text/css" href="/css/page.css"  >
</head>
<body>
{{>header}}
<div class="page">
<h1><a href ='/patient_login' class="btn btn-primary btn-block btn-large">Login</a></h1>
<h1><a href ='/patient_register' class="btn btn-primary btn-block btn-large">Register</a></h1>
</div>
</body>
</html>
