body{
	background: url("resources/background2.jpg");
	    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    padding-bottom: 100px;
    width: 100%;
	height:100%;
	overflow-y: scroll; overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	color: #263238;
}
.center
{
	margin-left: 35%;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: auto;
}

html { width: 100%; height:100%;  }

#table {
    border-collapse: collapse;
    border: 2px solid #222;
    width: 80%;
    margin-bottom: 5%;
}

#table td {
    border: 1px solid #777;
    padding: 8px;
}

#first
{
	 padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}
button{
	background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: 2px solid gainsboro;
	font-size: 20px;
	color: gainsboro;
	font-weight: bold;
	padding: 2%;
	min-width: 200px;
	-webkit-box-shadow: 9px 7px 54px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 7px 54px 3px rgba(0,0,0,0.75);
box-shadow: 9px 7px 54px 3px rgba(0,0,0,0.75);
}
button:hover {
	padding: 2%;
	background: black;
	border: 2px solid gainsboro;
	font-size: 20px;
	color: gainsboro;
	font-weight: bold;
	min-width: 200px;
	-webkit-box-shadow: 9px 7px 54px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 7px 54px 3px rgba(0,0,0,0.75);
box-shadow: 9px 7px 54px 3px rgba(0,0,0,0.75);
}

a:link{
	text-decoration: none;
	color: gainsboro;
}
a:visited{
	color: gainsboro;
}
a:hover{
	text-decoration: underline;
	color: white;
}

h3 a:link{
	color: #263238;
	text-decoration: none;
}
h3 a:visited
{
	color: #263238;
	text-decoration: none;
}
h3 a:hover
{
	color: #263238;
	text-decoration: underline;
}